<!DOCTYPE html>
<html lang="en" data-ng-app="CalculatorApp">
<head>
  <meta charset="UTF-8">
  <title>Integris Calculator</title>
</head>
<body data-ng-controller="CalculatorController">
  <h1>Calculator</h1>
  <p>Please select an operation and input two numbers</p>
  <form name="calculatorForm" data-ng-submit="calculate(calculation)">
    <label for="operationSelect">Select Operation:</label>
    <select id="operationSelect" data-ng-model="calculation.operation">
      <option value="add">Add</option>
      <option value="subtract">Subtract</option>
      <option value="multiply">Multiply</option>
      <option value="divide">Divide</option>
    </select>
    <label for="firstNumber">First Number:</label>
    <input type="number" id="firstNumber" required data-ng-model="calculation.firstNumber">
    <label for="secondNumber">Second Number:</label>
    <input type="number" id="secondNumber" required data-ng-model="calculation.secondNumber">
    <button type="submit" data-ng-disabled="calculatorForm.$invalid">Calculate</button>
  </form>

  <h2>Your result is: {{calculationResult}}</h2>

<script src="bundle.js"></script>
</body>
</html>
